.SAdamchuk_MSGadgets_SmserGadget{
	color: navy;
	letter-spacing:2px;
	font-weight:bold;
}

div{
	margin:0;
	padding:0;
}

.tab,.activeTab{
	cursor:pointer;
}

.activeTab{
	top:1px;
	position:relative;
}

.page{
	border:1px;
	padding:5px;
	border-style:solid;	
}

#mainPage,.page{
	background-color:#ADD8E6;
	border-color:blue;
}

.control{
	border-style:solid;
	border:1px;
	border-color:blue;
}

.page div{
	margin:3px;
}

#captchaBlock{
	height:50;
	display:block;
	position:static;
}