.SAdamchuk_MSGadgets_SmserGadget{
	color: navy;
}

.SAdamchuk_MSGadgets_SmserGadget div{
	margin:0;
	padding:0;
}

.SAdamchuk_MSGadgets_SmserGadget #headerDiv{
	height:18px;
	margin:0;
	padding:0;
}

.SAdamchuk_MSGadgets_SmserGadget .pageHeader,.SAdamchuk_MSGadgets_SmserGadget .activeTab{
	cursor:pointer;
}

.SAdamchuk_MSGadgets_SmserGadget .activeTab{
	top:1px;
	position:relative;
}

.SAdamchuk_MSGadgets_SmserGadget .page{
	border:1px;
	margin:0;
	border-style:solid;
	display:block;
	overflow:hidden;
	padding:10px;
}

.SAdamchuk_MSGadgets_SmserGadget .hiddenPage{
	display:none;
	overflow:hidden;
}

.SAdamchuk_MSGadgets_SmserGadget #mainPage{
	background-color:#ADD8E6;
	border-color:blue;
	padding-left:8px;
	padding-right:8px;
	padding-top:1px;
	padding-bottom:1px;
}

.SAdamchuk_MSGadgets_SmserGadget #helpPage{
	background-color:#fffacd;
	border-color:#daa520;
}

.SAdamchuk_MSGadgets_SmserGadget #optPage{
	background-color:#faebd7;
	border-color:#b44c48;
}

.SAdamchuk_MSGadgets_SmserGadget #contPage{
	background-color:#90ee90;
	border-color:#008000;
}

.SAdamchuk_MSGadgets_SmserGadget .textField{
	width:100px;
}

.SAdamchuk_MSGadgets_SmserGadget .pageTitle{
	margin-top:0;
	margin-bottom:5px;
	padding-top:0;
	padding-bottom:2px;
	font-weight:bold;
	font-size:large;
}

.SAdamchuk_MSGadgets_SmserGadget #mainPage,.SAdamchuk_MSGadgets_SmserGadget .page{
	background-color:#ADD8E6;
	border-color:blue;
}

.SAdamchuk_MSGadgets_SmserGadget .control,.SAdamchuk_MSGadgets_SmserGadget .textField{
	border-style:solid;
	border:1px;
	border-color:blue;
}

.SAdamchuk_MSGadgets_SmserGadget #captchaInput{
	width:100px;
}

.SAdamchuk_MSGadgets_SmserGadget .button{
	background-image: url('images/buttonBlue.gif');
	color: #0067a9;
	border:solid 1px #000000;
	height:18px;
}

.SAdamchuk_MSGadgets_SmserGadget .contactEditor{
	width:100px;
	border-style:solid;
	border-color:Navy;
}

.SAdamchuk_MSGadgets_SmserGadget .cmdImage{
	cursor:pointer;
}

.SAdamchuk_MSGadgets_SmserGadget .rowCaptcha{
	overflow:hidden;
	height:50px;
}

.SAdamchuk_MSGadgets_SmserGadget .rowCaptcha .emailItem,
.SAdamchuk_MSGadgets_SmserGadget .rowEmail .captchaItem{
	display:none;
}